<html>
<head>
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <header>
        <nav>

        </nav>
    </header>
    <main>
    {% block content %}

    {% endblock %}
    </main>
    <footer>
        <p>Авторы проекта:</p>
        <ul> 
            <li>Байдин Егор</li>
            <li>Гейман Александр</li>
            <li>Грин Никита</li>
            <li>Козьмюк Максим</li>
            <li>Сельменских Елизавета</li>
            <li>Унрайн Платон</li>
        </ul>
    </footer>
</body>
</html>