{% extends "base.html" %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="auth-container">
    <h2>Регистрация</h2>
    {%if message%}
    {{message}}
    {%endif%}
    <form method="POST">
        {{ form.hidden_tag() }}
        
        <div class="field-group">
            {{ form.name() }}
            {% for error in form.name.errors %}
                <span class="error-msg">{{ error }}</span>
            {% endfor %}
        </div>


        <div class="field-group">
            {{ form.password() }}
            {% for error in form.password.errors %}
                <span class="error-msg">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="field-group">
            {{ form.confirm_password() }}
            {% for error in form.confirm_password.errors %}
                <span class="error-msg">{{ error }}</span>
            {% endfor %}
        </div>

        {{ form.submit() }}
    </form>
    <p style="font-size: 0.8rem; margin-top: 15px;">
        Уже есть аккаунт? <a href="{{ url_for('auth') }}">Войти</a>
    </p>
</div>
{% endblock %}